
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadComponentPartial")
<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarComponentPartial")
		@await Component.InvokeAsync("_LayoutSidebarComponentPartial")
		<div class="main-panel">
			@RenderBody()
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">

								© Copyright @DateTime.Now.Year Tüm Hakları Saklıdır
								
							</li>
							
						</ul>
					</nav>
					
				</div>
			</footer>
		</div>
	</div>
</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")
</html>
