
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Dashboard</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					@await Html.PartialAsync("StatisticList")
					@await Html.PartialAsync("DashboardToDoList")
				</div>
			</div>

		</div>
	</div>
</div>


