
@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Dashboard</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="row">
						<div class="col-md-6 grid-center stretch-card">
							<div class="card tale-bg">
								<div class="card-people mt-auto">
									<img src="~/hola-master/images/people.svg" alt="people">
									<div class="weather-info position-absolute" style="top: 20px; left: 100%;" ">
										<div class="d-flex ">
											<div>
												<h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>@ViewBag.v5<sup>C</sup></h2>
											</div>
											<div class="ml-2">
												<h4 class="location font-weight-normal">İstanbul</h4>
												<h6 class="font-weight-normal">Türkiye</h6>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

