@model Announcement
@{
    ViewData["Title"] = "AnnouncementDetail";
    Layout = "~/Views/Layout/Index.cshtml";
}

<input type="hidden" asp-for="AnnouncementID" />

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Duyurular</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Duyuru Detayları</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Tarih : <b>@Model.Date.ToShortDateString()</b>
							<br />
							Duyuru Başlığı : <b>@Model.Title</b>
							<br />
							Duyuru Detayı : <b>@Model.Description</b>
							
							
							
						</div>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>

