@using MyPortfolio.DAL.Entities
@model User
@{
    ViewData["Title"] = "ProfilView";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Profil Güncelleme</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Profil Güncelleme</div>
					</div>
					<div class="card-body">

						<form method="post">
							<label>Ad</label>
							<input type="text" asp-for="Name" class="form-control" />
							<br />
							<label>Soyad</label>
							<input type="text" asp-for="Surname" class="form-control" />
							<br />
							
							
							<button class="btn btn-primary">Güncelle</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

